<h1>Movies</h1>

 <p> Es sind  <%= @movies.count == 1 ?  "ist " : "sind" %> <%= "#{pluralize(@movies.count, "Movie")}" %> vorhanden </p>

<table border= 1pt width= 100%>
 		<tr>
 			<th>Titel</th>
 			<th>Rank</th>
 			<th>Umsatz</th>
 			<th>Kinostart</th>
 			<th>Beschreibung</th>
 		</tr>

 		<% @movies.each do |movie| %>
 		<tr>
 			<td><%= movie.title %></td>
 			<td><%= movie.rating %></td>
 			<td><%= format_total_gross(movie) %></th>
 			<td><%= time_ago_in_words(movie.kinostart) %></td>
 			<td><%= truncate(movie.description, lenght:40) %></td>

 		</tr>
 		<% end %>
 		
 	</table>