<%= form_for(@event) do |f|%>
	<% if @event.errors.any? %>
	<div class="panel">
		<ul>
			<% @event.errors.full_messages.each do |m| %>
			<li>
				<%= m %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :name %>
	</div>
	<div class="medium-10 columns">
	
	<%= f.text_field :name %>
	</div>
</div>

<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :location %>
	</div>
	<div class="medium-10 columns">
		
	<%= f.text_field :location, placeholder: "wo findet der Spaß stadt?"%>
	</div>
</div>
<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :price %>
	</div>
	<div class="medium-10 columns">
			
	<%= f.number_field :price, placeholder: "was kostet der Spaß?"%>
	</div>
</div>
<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :capacity %>
	</div>
	<div class="medium-10 columns">
	
	<%= f.number_field :capacity, placeholder: "Kapazität"%>
	</div>
</div>
<!-- ***********************************************************************************-->

<div class="row">
	<div class="medium-2 columns">
		<%= f.label :start_at %>
	</div>
	<div class="medium-10 columns">
		
	<%= f.datetime_select :start_at, placeholder: "Wann geht der Spaß los?" %>
	</div>
</div>

<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :image_file%>
	</div>
	<div class="medium-10 columns">
	
	<%= f.text_field :image_file, placeholder: "Gif,jpeg,png einfügen" %>
	</div>
<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
			<%= f.label :description %>
	</div>
	<div class="medium-10 columns">
		
	<%= f.text_area :description, placeholder: "Was geht da ab??" %>
	</div>
</div>
<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
			<%= f.submit %>
	</div>
	<div class="medium-10 columns">
		
	<%= link_to "Back without saving", events_path %>
	</div>
</div>


</div>

<!-- ***********************************************************************************-->


<%end%>