<h1>Events</h1>


<%= "<h2>listing generated at:  #{Time.now}</h2>".html_safe %>  
 

<p><%= link_to "Neues Event erstellen", new_event_path %></p>


 	<table width= 100% border= 2pt>
 		<tr>
 			<th>Name</th>
 			<th>Ort</th>
 			<th>Preis</th>
 			<th>wann</th>
 			<th>Beschreibung</th>
 			<th> Show </th>
 			<th> EDIT </th>
 			<th> Löschen </th>
 		</tr>

 		<% @events.each do |event| %>
 		<tr>
 			<td><%= event.name %></td>
 			<td><%= event.location %></td>
 			<td><%= format_price(event) %></td>  <!--format price ist im helper deklariert. look! -->
 			<td><%= event.start_at  %></td> <!--wichtig! man braucht die if abfrage weil start at nicht bei leeren werten geht -->
 			<td><%= truncate(event.description, length: 25, seperator: '',omission: "") %>
 				<%= link_to "...", event_path(event.id) %></td>

 			<td> <%= link_to "Show", event_path(event.id)%> </td>
 			<td> <%= link_to "Edit", edit_event_path(event.id)%> </td>
 			<td> <%= link_to "delete", event_path(event.id), method: :delete, data: {confirm: "Sicher???"} %></td>
 
 	 </tr>
 		<% end %>
 		
 	</table>


 