<h1>Alle Registirerungen</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Über</th>
		<th>Event</th>
		<th>Zeigen</th>
		<th>Ändern</th>
		<th>Löschen</th>

</tr>

<% @registrations.each do |registration| %>
<tr>
<td><%= registration.name  %></td>
<td><%= registration.email  %></td>
<td><%= registration.how_heard  %></td>
<td><%= registration.event_id  %></td>
<td>	</td>
<td>	</td>
<td>	</td>
</tr>
<%end%>
   </table> <br>
   <%= link_to "Back", event_path(@event.id), type:"button", class:"button succsess"%>