
<div class="panel ">
<div class="row">
	<div class="medium-4 columns">
			
	</div>
	<div class="medium-8 columns">
		
	<h1> für <%=  @event.name%> </h1>
	</div>
</div>
</div>

<%= form_for([@event, @registration]) do |f|%>
<%= render "shared/error" , obj_errors: @registration%>
<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :name %>
	</div>
	<div class="medium-10 columns">
	
	<%= f.text_field :name %>
	</div>
</div>
<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :email %>
	</div>
	<div class="medium-10 columns">
	
	<%= f.text_field :email %>
	</div>
</div>



<!-- ***********************************************************************************-->
<div class="row">
	<div class="medium-2 columns">
		<%= f.label :how_heard %>
	</div>
	<div class="medium-10 columns">
	
	<%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt: "Bitte auswählen" %>
	</div>
</div>





<!-- ***********************************************************************************-->


		<div class="row ">
	<div class="medium-2 columns">
			<%= f.submit "Registrieren", class:"success button"%>
	</div>
	<div class="medium-10 columns">
		
	<%= link_to "Back without saving", event_path(@event.id), class:"secondary button " %>
	</div>
</div>


</div>
<%end%>